{% extends 'user/base.html.twig' %}
{% set title = 'subscribers' | trans %}
{% set colspan = 4 %}
{% set header_active = blog.name %}
{% set subheader_active = 'subscribers' %}

{% block additional_header_right %}
    <a class="button primary" href="{{ path('blog subscriber add', {blogId: blog.id}) }}">{{ 'add_subscriber' | trans }}</a>
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'email' | trans, column: 'email', class: 'left' } %}
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'updated' | trans, column: 'updated', class: 'medium-column center' } %}
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'created' | trans, column: 'created', class: 'medium-column center' } %}
            <th class="center medium-column">{{ 'actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td class="ellipsis"><div>{{ subscriber.email }}</div></td>
                <td class="center">{{ subscriber.updated | dateTimeFormat }}</td>
                <td class="center">{{ subscriber.created | dateTimeFormat }}</td>
                <td class="center">
                    <div class="dropdown">
                        <div class="dropdown-toggle">
                            <i class="material-icons">more_horiz</i>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('blog subscriber edit', {blogId: blog.id, id: subscriber.id}) }}">{{ 'edit' | trans }}</a>
                            <a class="dropdown-item" href="{{ path('blog subscriber delete', {blogId: blog.id, id: subscriber.id}) }}">{{ 'delete' | trans }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% if subscribers | length == 0 %}
            <tr>
                <td class="no-data" colspan="{{ colspan }}">{{ 'no_data' | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ colspan }}">
                <div class="paging-container">
                    <div class="count">{{ 'count' | trans }} : <b>{{ subscribersCount }}</b></div>
                    {% include 'shared/includes/paging.html.twig' %}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}