{% extends 'user/base.html.twig' %}
{% set title = 'tags' | trans %}
{% set header_active = blog.name %}
{% set subheader_active = 'tags' %}
{% set colspan = 4 %}

{% block javascripts %}
    {{ encore_entry_script_tags('app/pages/tags') }}
{% endblock %}

{% block asides %}
    {% include 'user/forms/tags-filter-form.html.twig' with {id: 'tags-filter', class: 'left'} %}
{% endblock %}

{% block additional_header_right %}
    <a class="button primary" href="{{ path('blog tag add', {blogId: blog.id}) }}">{{ 'add_tag' | trans }}</a>
{% endblock %}

{% block additional_header_left %}
    <i class="material-icons tags-filter-toggle">filter_list</i>
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'name' | trans, column: 'name', class: 'left' } %}
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'updated' | trans, column: 'updated', class: 'medium-column center' } %}
            {% include 'shared/includes/sortable-column.html.twig' with {title: 'created' | trans, column: 'created', class: 'medium-column center' } %}
            <th class="center medium-column">{{ 'actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td class="ellipsis"><div>{{ tag.name }}</div></td>
                <td class="center">{{ tag.updated | dateTimeFormat }}</td>
                <td class="center">{{ tag.created | dateTimeFormat }}</td>
                <td class="center">
                    <div class="dropdown">
                        <div class="dropdown-toggle">
                            <i class="material-icons">more_horiz</i>
                        </div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('blog tag edit', {id: tag.id, blogId: blog.id}) }}">{{ 'edit' | trans }}</a>
                            <a class="dropdown-item" href="{{ path('blog tag delete', {id: tag.id, blogId: blog.id}) }}">{{ 'delete' | trans }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        {% if tags | length == 0 %}
            <tr>
                <td class="no-data" colspan="{{ colspan }}">{{ 'no_data' | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ colspan }}">
                <div class="paging-container">
                    <div class="count">{{ 'count' | trans }} : <b>{{ tagsCount }}</b></div>
                    {% include 'shared/includes/paging.html.twig' %}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}