{{ form_start(form) }}
    {{ form_errors(form) }}
{{ form_row(form.subscriber) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.htmlContent) }}
    {{ form_row(form.channel) }}
<button class="button primary" type="submit">{{ 'save' | trans }}</button>
{{ form_end(form) }}