{% extends 'admin/base.html.twig' %}
{% set title = 'subscribers' | trans %}
{% set colspan = 5 %}
{% set header_active = 'subscribers' %}

{% block additional_header %}
    <a class="button primary" href="{{ path('admin subscriber add') }}">{{ 'add_subscriber' | trans }}</a>
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
        <tr>
            <th class="sortable center small">{{ 'id' | trans }}</th>
            <th class="sortable">{{ 'email' | trans }}</th>
            <th class="sortable center">{{ 'updated' | trans }}</th>
            <th class="sortable center">{{ 'created' | trans }}</th>
            <th class="center">{{ 'actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for subscriber in subscribers %}
            <tr>
                <td class="center">{{ subscriber.id }}</td>
                <td class="ellipsis"><div>{{ subscriber.email }}</div></td>
                <td class="center">{{ subscriber.updated | dateTimeFormat }}</td>
                <td class="center">{{ subscriber.created | dateTimeFormat }}</td>
                <td class="center">
                    <div class="table-actions">
                        <a title="{{ 'edit' | trans }}" href="{{ path('admin subscriber edit', {id: subscriber.id}) }}"><i class="material-icons">create</i></a>
                        <a title="{{ 'delete' | trans }}" href="{{ path('admin', {id: subscriber.id}) }}"><i class="material-icons">delete</i></a>
                    </div>
                </td>

            </tr>
        {% endfor %}
        {% if subscribers | length == 0 %}
            <tr>
                <td class="no-data" colspan="{{ colspan }}">{{ 'no_data' | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="{{ colspan }}">
                <div class="paging-container">
                    <div class="count">{{ 'count' | trans }} : <b>{{ subscribersCount }}</b></div>
                    {% include 'shared/includes/paging.html.twig' %}
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
{% endblock %}