<form class="form" method="post" novalidate>
    <div class="space-between">
        <div class="content">
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.currentPassword.first) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.currentPassword.second) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(form.newPassword.first) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.newPassword.second) }}
                </div>
            </div>
            <div class="button-row">
                <a class="button secondary" href="{{ path('profile') }}">{{ 'back' | trans }}</a>
                <button class="button primary" type="submit">{{ 'save' | trans }}</button>
            </div>
        </div>
        <div class="content">

        </div>
    </div>
    {{ form_row(form._token) }}
</form>