<form class="form" method="post" novalidate>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="button-row">
        <a class="button secondary" href="{{ path('blog subscribers', {blogId: blog.id}) }}">{{ 'back' | trans }}</a>
        <button class="button primary" type="submit">{{ 'save' | trans }}</button>
    </div>
    {{ form_row(form._token) }}
</form>