{% extends 'shared/layouts/aside-layout.html.twig' %}

{% block content %}
    <form class="aside-content form" action="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params') | merge({page: 1})) }}" method="get">
        <div class="aside-header">
            <h2>{{ 'filter' | trans }}</h2>
            <i class="material-icons close">clear</i>
        </div>
        <div class="aside-scrollable-content">
            <div class="row">
                <div class="col">
                    {{ form_row(filterForm.posts) }}
                </div>
            </div>
        </div>
        <div class="aside-footer">
            <div class="button-row">
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')) }}" class="button secondary">{{ 'reset' | trans }}</a>
                <button id="jobs-filter-button" type="submit" class="button primary">{{ 'filter' | trans }}</button>
            </div>
        </div>
    </form>
{% endblock %}